<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.0.xsd">

     <context:annotation-config/>
    <!-- bean definitions here -->
	<bean id="std" class="com.Student" init-method="myOpening" destroy-method="myClosing">
		<constructor-arg name="id" value="17"></constructor-arg>
		<constructor-arg name="name" value="vinay"></constructor-arg>
		<!-- <property name="adr" ref="adr"></property> -->
	</bean>
	<bean id="adr1" class="com.Address">
		<property name="doorNumber" value="444"></property>
		<property name="city" value="Kadapa"></property>
	</bean>
	<bean id="adr2" class="com.Address">
		<property name="doorNumber" value="777"></property>
		<property name="city" value="Vizag"></property>
	</bean>
</beans>